*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Inter',sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;

background:url("images/sunny.jpg");
background-size:cover;
background-position:center;

transition:1s;
}

.container{

width:95%;
max-width:900px;

background:rgba(255,255,255,0.15);

backdrop-filter:blur(15px);

padding:30px;

border-radius:25px;

color:white;

text-align:center;
}

h1{
margin-bottom:20px;
}

.search{
display:flex;
gap:10px;
margin-bottom:25px;
flex-wrap:wrap;
justify-content:center;
}

input{
padding:12px;
width:250px;
border:none;
border-radius:10px;
}

button{
padding:12px 18px;
border:none;
border-radius:10px;
cursor:pointer;
font-weight:bold;
}

.weather-card{
padding:25px;
background:rgba(255,255,255,0.1);
border-radius:20px;
}

.temp{
font-size:60px;
font-weight:bold;
margin:15px 0;
}

.info{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:10px;
margin-top:20px;
}

.info div{
padding:15px;
background:rgba(255,255,255,0.1);
border-radius:10px;
}

.forecast{

margin-top:25px;

display:grid;
grid-template-columns:
repeat(auto-fit,minmax(120px,1fr));

gap:10px;
}

.day{
background:rgba(255,255,255,0.1);
padding:15px;
border-radius:10px;
}

@media(max-width:600px){

.info{
grid-template-columns:1fr;
}

}